In [8]:
class Student:
    pass

In [9]:
s1 = Student()

In [10]:
print(s1)

<__main__.Student object at 0x0592E688>

In [11]:
s2 = Student()
print(s2)

<__main__.Student object at 0x0592E610>

In [12]:
s1

In [13]:
s1.name = "yogi"
s2.rollno = 34
s2.name = "viki"

In [15]:
print(s1.name)

yogi

In [18]:
s1.__dict__

{'name': 'yogi'}

s2.__dict__

In [20]:
hasattr(s1,"name")

True

In [21]:
getattr(s2,"rollno")

34

In [1]:
class Student:
    pass

In [7]:
s1 = Student()
s2 = Student()
s3 = Student()
print(type(s1))
p = list()

<class '__main__.Student'>

In [13]:
s1.name = "yogi"
s2.rollno = "23"
s2.name = "vishal"
s3.rollno = "34"
s1.__dict__
s2.__dict__
getattr(s1,"name")
h

'yogi'

In [14]:
hasattr(s2,"rollno")

True

In [15]:
getattr(s1,"rollno")

AttributeError: 'Student' object has no attribute 'rollno'

In [16]:
delattr(s1,"name")

In [17]:
hasattr(s1,"name")

False

In [87]:
# init function 
class Student:
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
    def printstudent(self):
        print("My name is",self.name,"and rollno is",self.rollno)
s1 = Student("Yogi",12)
s1

In [34]:
s1 = Student("Yogi",12)
s2 = Student("Nikhil",14)
s3 = Student("Ramlal",15)
s1.printstudent()# Student.printstudent(s1)

My name is Yogi and rollno is 12

In [32]:
s1.__dict__

{'name': 'Yogi', 'rollno': 12}

In [84]:
class Fraction:
    def __init__(self,num = 0,den = 1):
        if den == 0:
            den = 1
        self.num = num
        self.den = den
    def print(self):
        if self.num == 0:
            print(0)
        elif self.den ==1:
            print(self.num)
        else:
            print(self.num,'/',self.den)
    def simplify(self):
        current  = min(self.num,self.den)
        while current>1:
            if self.num%current == 0 and self.den%current == 0:
                break
            current-=1
        self.num = self.num//current
        self.den = self.den//current
    def add(self,otherfraction):
        newnum = self.num*otherfraction.den + self.den*otherfraction.num
        newden = self.den*otherfraction.den
        self.num = newnum
        self.den = newden
        self.simplify()
    def multiply(self,other):
        newnum = self.num*other.num
        newden = self.den*other.den
        self.num = newnum
        self.den = newden
        self.simplify()
            

f1 = Fraction(2,3) 
f2 = Fraction(1,1)

In [85]:
f1.add(f2)
f1.print()

5 / 3

In [86]:
f1.multiply(f2)
f1.print()

5 / 3

In [71]:
f.print()

2 / 3